html,
body {
  height: 100vh;
  text-transform: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: ＭＳ 明朝, 游明朝, Yu Mincho, YuMincho, Hiragino Mincho Pro, serif;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

