.container{
  font-size: 16px;
  width: 100vw;
  margin: 0 auto;
}
.h1{
  font-size: 3vw;
  text-align: center;
  font-weight: bold;
}
.h3{
    display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 10;
      overflow: hidden;
      font-size: 1.4vw;
}
.p{
   font-size: 1.4vw;
}
.button_con{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
}
.button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  background-color: rgb(203, 199, 255);
  width: 60vw;
  height: 5vw;
  font-size: 2vw;
  border: solid 0.3vw #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo_con{
 display: flex;
 flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.todo{
    width: 20vw;
    margin: 2vw;
    height: 20vw;
    background-color: rgb(222, 250, 205);
    border: solid 0.3vw#000;
    border-radius: 1.5vw;
    padding: 1.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word; 
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - デスクトップ（デフォルトのグリッド）
   1024-768    - タブレット横長
   768-480     - タブレット縦長
   480-less    - スマホ
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .container {
      font-size: 16px;
      width: 1200px;
      margin: 0 auto;
    }
  
    .h1 {
      font-size: 40px;
      text-align: center;
      font-weight: bold;
    }
  
    .h3 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 10;
      overflow: hidden;
      font-size: 20px;
    }
  
    .p {
      font-size: 20px;
    }
  
    .button_con {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
    }
  
    .button {
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      appearance: none;
      background-color: rgb(203, 199, 255);
      width: 800px;
      height: 60px;
      font-size: 25px;
      border: solid 2px #000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .todo_con {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }
  
    .todo {
      width: 330px;
      margin: 20px;
      height: 300px;
      background-color: rgb(222, 250, 205);
      border: solid 2px#000;
      border-radius: 20px;
      padding: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: break-word;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container {
        font-size: 16px;
        width: 900px;
        margin: 0 auto;
      }
    
      .h1 {
        font-size: 35px;
        text-align: center;
        font-weight: bold;
      }
    
      .h3 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        overflow: hidden;
        font-size: 20px;
      }
    
      .p {
        font-size: 20px;
      }
    
      .button_con {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
      }
    
      .button {
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        background-color: rgb(203, 199, 255);
        width: 800px;
        height: 60px;
        font-size: 25px;
        border: solid 2px #000;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .todo_con {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
      }
    
      .todo {
        width: 400px;
        margin: 20px;
        height: 325px;
        background-color: rgb(222, 250, 205);
        border: solid 2px #000;
        border-radius: 20px;
        padding: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
      }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .container {
      font-size: 16px;
      width: 700px;
      margin: 0 auto;
    }
  
    .h1 {
      font-size: 30px;
      text-align: center;
      font-weight: bold;
    }
  
    .h3 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 10;
      overflow: hidden;
      font-size: 20px;
    }
  
    .p {
      font-size: 20px;
    }
  
    .button_con {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
    }
  
    .button {
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      appearance: none;
      background-color: rgb(203, 199, 255);
      width: 700px;
      height: 60px;
      font-size: 25px;
      border: solid 2px #000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .todo_con {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
    }
  
    .todo {
      width: 300px;
      margin: 20px;
      height: 275px;
      background-color: rgb(222, 250, 205);
      border: solid 2px #000;
      border-radius: 20px;
      padding: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: break-word;
    }
}

@media all and (max-width: 480px) {
    .container {
        font-size: 14px;
        width: 700px;
        margin: 0 auto;
      }
    
      .h1 {
        font-size: 30px;
        text-align: center;
        font-weight: bold;
      }
    
      .h3 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        overflow: hidden;
        font-size: 16px;
      }
    
      .p {
        font-size: 14px;
      }
    
      .button_con {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
    
      .button {
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        background-color: rgb(203, 199, 255);
        width: 500px;
        height: 60px;
        font-size: 25px;
        border: solid 1px #000;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .todo_con {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      margin-top: 20px;
      }
    
      .todo {
        width: 280px;
        margin: 20px;
        height: 250px;
        background-color: rgb(222, 250, 205);
        border: solid 1px #000;
        border-radius: 20px;
        padding: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
      }
}